ProptechOS-Api/API examples/node-red-client-credential-grant-flow/client-credential.json
[{"id":"e6419531.d3cb38","type":"tab","label":"Client Credential Flow","disabled":false,"info":""},{"id":"8f1e58b6.143f88","type":"inject","z":"e6419531.d3cb38","name":"RealEstate","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["2fa64b1d.429174"]]},{"id":"2e815890.8ec1a8","type":"http request","z":"e6419531.d3cb38","name":"Request Token","method":"POST","ret":"obj","paytoqs":false,"url":"https://login.microsoftonline.com/d4218456-670f-42ad-9f6a-885ae15b6645/oauth2/v2.0/token","tls":"","persist":false,"proxy":"","authType":"","x":180,"y":360,"wires":[["722662e6.90bd6c","382268cc.0cbd68"]]},{"id":"2fa64b1d.429174","type":"function","z":"e6419531.d3cb38","name":"Payload_AAD","func":"msg.payload = {};\nmsg.payload = {\n    'client_id':'<CLIENT_ID>',\n    'client_secret':'<CLIENT_SECRET>',\n    'grant_type':'client_credentials',\n    'scope':'<SCOPE_NAME>'\n};\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded'\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":200,"wires":[["2e815890.8ec1a8"]]},{"id":"722662e6.90bd6c","type":"debug","z":"e6419531.d3cb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.access_token","targetType":"msg","x":570,"y":400,"wires":[]},{"id":"382268cc.0cbd68","type":"function","z":"e6419531.d3cb38","name":"Payload_ProptechOS","func":"var token = msg.payload.access_token;\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + token\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["91c3b1e0.8b58"]]},{"id":"7d33f46e.f2829c","type":"http request","z":"e6419531.d3cb38","name":"Get QKS","method":"GET","ret":"obj","paytoqs":false,"url":"<BASE_URL>/api/quantitykind","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":220,"wires":[["1cfef8b4.c18e07"]]},{"id":"1cfef8b4.c18e07","type":"debug","z":"e6419531.d3cb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":320,"wires":[]},{"id":"91c3b1e0.8b58","type":"http request","z":"e6419531.d3cb38","name":"Get REs","method":"GET","ret":"obj","paytoqs":false,"url":"<BASE_URL>/api/realestate?page=0&size=50","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":140,"wires":[["ef8288c5.8f8bc8"]]},{"id":"ef8288c5.8f8bc8","type":"debug","z":"e6419531.d3cb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":160,"wires":[]}]
